@import "../../utils/variables";

.productView {
  padding-top: 8rem;
  padding-bottom: 8rem;
  &__img {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
  }
  &__slider-nav {
    .slick-slide {
      padding: 15px;
      border-radius: 5px;
    }
    img {
      width: 100%;
      max-width: 100px;
      box-shadow: 5px 5px 15px $shadow-color;
    }
  }
  &__price {
    font-size: 5rem;
  }
  &__bg-img {
    margin-top: -70px;
  }
}