@import "../../utils/variables";

.indexContent {
  &__info {
    padding-bottom: 6rem;
  }
  &__box {
    background: #fff;
    padding: 5rem 3rem;
    border-radius: 5px;
    box-shadow: 0 0 20px $shadow-color;
  }
  &__features {
    padding-top: 4rem;
    &-img {
      margin-left: -68%;
    }
    &-list {
      &-icon {
        position: absolute;
        top: 0;
        left: 0;
      }
      &-item {
        position: relative;
        color: $secondary-color;
        font-weight: 400;
        margin-bottom: 2rem;
        padding-left: 50px;
        min-height: 42px;
        height: 100%;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  &__contacts {
    &-img {
      margin-left: 5%;
    }
  }
  &__img-bg {
    position: absolute;
    bottom: -5rem;
  }
}